[Unit]
Description=Daily Data Cleanup Service
After=network.target

[Service]
Type=oneshot
User=percygt
ExecStart=sh /home/percygt/.local/bin/daily-data-cleanup.sh
Environment=HOME=/home/percygt

[Install]
WantedBy=multi-user.target
