[Unit]
Description=Daily Data Backup Service


[Service]
Type=oneshot
User=percygt
ExecStart=/bin/bash /home/percygt/.local/bin/daily-data-backup.sh
Environment=HOME=/home/percygt

[Install]
WantedBy=multi-user.target
