[Unit]
Description=Flatpak Automatic Update Timer
Documentation=man:flatpak(1)

[Timer]
OnUnitActiveSec=1d
RandomizedDelaySec=60m
Persistent=true

[Install]
WantedBy=timers.target
